xml-resources/web-service-references/nhanvienService/wsdl/localhost_8080/test4/nhanvienService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Find" type="tns:Find"/>

<xs:element name="FindResponse" type="tns:FindResponse"/>

<xs:element name="delete_nv" type="tns:delete_nv"/>

<xs:element name="get_data" type="tns:get_data"/>

<xs:element name="get_dataResponse" type="tns:get_dataResponse"/>

<xs:element name="insert_nv" type="tns:insert_nv"/>

<xs:element name="update_nv" type="tns:update_nv"/>

<xs:complexType name="Find">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FindResponse">
<xs:sequence>
<xs:element name="return" type="tns:nhanvien" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nhanvien">
<xs:sequence>
<xs:element name="chucvu" type="xs:string" minOccurs="0"/>
<xs:element name="diachi" type="xs:string" minOccurs="0"/>
<xs:element name="dienthoai" type="xs:string" minOccurs="0"/>
<xs:element name="gioitinh" type="xs:int"/>
<xs:element name="luong" type="xs:double"/>
<xs:element name="manhanvien" type="xs:string" minOccurs="0"/>
<xs:element name="ngaysinh" type="xs:string" minOccurs="0"/>
<xs:element name="tennhanvien" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get_data">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="get_dataResponse">
<xs:sequence>
<xs:element name="return" type="tns:nhanvien" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insert_nv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:int"/>
<xs:element name="e" type="xs:string" minOccurs="0"/>
<xs:element name="g" type="xs:string" minOccurs="0"/>
<xs:element name="h" type="xs:string" minOccurs="0"/>
<xs:element name="k" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update_nv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:int"/>
<xs:element name="e" type="xs:string" minOccurs="0"/>
<xs:element name="g" type="xs:string" minOccurs="0"/>
<xs:element name="h" type="xs:string" minOccurs="0"/>
<xs:element name="k" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete_nv">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>