xml-resources/web-service-references/khachhangservice/wsdl/localhost_8080/test4/khachhangservice.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="Find_khachhang" type="tns:Find_khachhang"/>

<xs:element name="Find_khachhangResponse" type="tns:Find_khachhangResponse"/>

<xs:element name="Update" type="tns:Update"/>

<xs:element name="add_khachhang" type="tns:add_khachhang"/>

<xs:element name="delete_khachhang" type="tns:delete_khachhang"/>

<xs:element name="getAll_khachhang" type="tns:getAll_khachhang"/>

<xs:element name="getAll_khachhangResponse" type="tns:getAll_khachhangResponse"/>

<xs:complexType name="add_khachhang">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
<xs:element name="e" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete_khachhang">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAll_khachhang">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAll_khachhangResponse">
<xs:sequence>
<xs:element name="return" type="tns:khachhangmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="khachhangmodel">
<xs:sequence>
<xs:element name="convertDate" type="xs:string" minOccurs="0"/>
<xs:element name="diachiKH" type="xs:string" minOccurs="0"/>
<xs:element name="dienthoai" type="xs:string" minOccurs="0"/>
<xs:element name="makhachhang" type="xs:string" minOccurs="0"/>
<xs:element name="ngaysinh" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ngaythem" type="xs:dateTime" minOccurs="0"/>
<xs:element name="sumKH" type="xs:int"/>
<xs:element name="tenkhachhang" type="xs:string" minOccurs="0"/>
<xs:element name="tuoi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Update">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
<xs:element name="b" type="xs:string" minOccurs="0"/>
<xs:element name="c" type="xs:string" minOccurs="0"/>
<xs:element name="d" type="xs:string" minOccurs="0"/>
<xs:element name="e" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Find_khachhang">
<xs:sequence>
<xs:element name="a" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Find_khachhangResponse">
<xs:sequence>
<xs:element name="return" type="tns:khachhangmodel" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>