xml-resources/web-service-references/khachhangservice/wsdl/localhost_8080/test4/khachhangservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="khachhangservice">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/test4/khachhangservice?xsd=1"/>
</xsd:schema>
</types>
<message name="add_khachhang">
<part name="parameters" element="tns:add_khachhang"/>
</message>
<message name="Update">
<part name="parameters" element="tns:Update"/>
</message>
<message name="getAll_khachhang">
<part name="parameters" element="tns:getAll_khachhang"/>
</message>
<message name="getAll_khachhangResponse">
<part name="parameters" element="tns:getAll_khachhangResponse"/>
</message>
<message name="delete_khachhang">
<part name="parameters" element="tns:delete_khachhang"/>
</message>
<message name="Find_khachhang">
<part name="parameters" element="tns:Find_khachhang"/>
</message>
<message name="Find_khachhangResponse">
<part name="parameters" element="tns:Find_khachhangResponse"/>
</message>
<portType name="khachhangservice">
<operation name="add_khachhang">
<input wsam:Action="http://ws/khachhangservice/add_khachhang" message="tns:add_khachhang"/>
</operation>
<operation name="Update">
<input wsam:Action="http://ws/khachhangservice/Update" message="tns:Update"/>
</operation>
<operation name="getAll_khachhang">
<input wsam:Action="http://ws/khachhangservice/getAll_khachhangRequest" message="tns:getAll_khachhang"/>
<output wsam:Action="http://ws/khachhangservice/getAll_khachhangResponse" message="tns:getAll_khachhangResponse"/>
</operation>
<operation name="delete_khachhang">
<input wsam:Action="http://ws/khachhangservice/delete_khachhang" message="tns:delete_khachhang"/>
</operation>
<operation name="Find_khachhang">
<input wsam:Action="http://ws/khachhangservice/Find_khachhangRequest" message="tns:Find_khachhang"/>
<output wsam:Action="http://ws/khachhangservice/Find_khachhangResponse" message="tns:Find_khachhangResponse"/>
</operation>
</portType>
<binding name="khachhangservicePortBinding" type="tns:khachhangservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add_khachhang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="Update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAll_khachhang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_khachhang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="Find_khachhang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="khachhangservice">
<port name="khachhangservicePort" binding="tns:khachhangservicePortBinding">
<soap:address location="http://localhost:8080/test4/khachhangservice"/>
</port>
</service>
</definitions>