src/META-INF/wsdl/localhost_8080/test4/nhanvienService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="nhanvienService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/test4/nhanvienService?xsd=1"/>
</xsd:schema>
</types>
<message name="Find">
<part name="parameters" element="tns:Find"/>
</message>
<message name="FindResponse">
<part name="parameters" element="tns:FindResponse"/>
</message>
<message name="delete_nv">
<part name="parameters" element="tns:delete_nv"/>
</message>
<message name="insert_nv">
<part name="parameters" element="tns:insert_nv"/>
</message>
<message name="update_nv">
<part name="parameters" element="tns:update_nv"/>
</message>
<message name="get_data">
<part name="parameters" element="tns:get_data"/>
</message>
<message name="get_dataResponse">
<part name="parameters" element="tns:get_dataResponse"/>
</message>
<portType name="nhanvienService">
<operation name="Find">
<input wsam:Action="http://ws/nhanvienService/FindRequest" message="tns:Find"/>
<output wsam:Action="http://ws/nhanvienService/FindResponse" message="tns:FindResponse"/>
</operation>
<operation name="delete_nv">
<input wsam:Action="http://ws/nhanvienService/delete_nv" message="tns:delete_nv"/>
</operation>
<operation name="insert_nv">
<input wsam:Action="http://ws/nhanvienService/insert_nv" message="tns:insert_nv"/>
</operation>
<operation name="update_nv">
<input wsam:Action="http://ws/nhanvienService/update_nv" message="tns:update_nv"/>
</operation>
<operation name="get_data">
<input wsam:Action="http://ws/nhanvienService/get_dataRequest" message="tns:get_data"/>
<output wsam:Action="http://ws/nhanvienService/get_dataResponse" message="tns:get_dataResponse"/>
</operation>
</portType>
<binding name="nhanvienServicePortBinding" type="tns:nhanvienService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_nv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="insert_nv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="update_nv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="get_data">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="nhanvienService">
<port name="nhanvienServicePort" binding="tns:nhanvienServicePortBinding">
<soap:address location="http://localhost:8080/test4/nhanvienService"/>
</port>
</service>
</definitions>