src/META-INF/wsdl/localhost_8080/test4/thongkeservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="thongkeservice">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/test4/thongkeservice?xsd=1"/>
</xsd:schema>
</types>
<message name="getListBySanPham">
<part name="parameters" element="tns:getListBySanPham"/>
</message>
<message name="getListBySanPhamResponse">
<part name="parameters" element="tns:getListBySanPhamResponse"/>
</message>
<message name="getListByDonHang">
<part name="parameters" element="tns:getListByDonHang"/>
</message>
<message name="getListByDonHangResponse">
<part name="parameters" element="tns:getListByDonHangResponse"/>
</message>
<message name="getListBySLDonHang">
<part name="parameters" element="tns:getListBySLDonHang"/>
</message>
<message name="getListBySLDonHangResponse">
<part name="parameters" element="tns:getListBySLDonHangResponse"/>
</message>
<message name="getListByDTDonHang">
<part name="parameters" element="tns:getListByDTDonHang"/>
</message>
<message name="getListByDTDonHangResponse">
<part name="parameters" element="tns:getListByDTDonHangResponse"/>
</message>
<message name="getListByKhachHang">
<part name="parameters" element="tns:getListByKhachHang"/>
</message>
<message name="getListByKhachHangResponse">
<part name="parameters" element="tns:getListByKhachHangResponse"/>
</message>
<message name="sumListByKhachHang">
<part name="parameters" element="tns:sumListByKhachHang"/>
</message>
<message name="sumListByKhachHangResponse">
<part name="parameters" element="tns:sumListByKhachHangResponse"/>
</message>
<message name="sumListByKhachHang1">
<part name="parameters" element="tns:sumListByKhachHang1"/>
</message>
<message name="sumListByKhachHang1Response">
<part name="parameters" element="tns:sumListByKhachHang1Response"/>
</message>
<message name="getListByDTSanPham">
<part name="parameters" element="tns:getListByDTSanPham"/>
</message>
<message name="getListByDTSanPhamResponse">
<part name="parameters" element="tns:getListByDTSanPhamResponse"/>
</message>
<portType name="thongkeservice">
<operation name="getListBySanPham">
<input wsam:Action="http://ws/thongkeservice/getListBySanPhamRequest" message="tns:getListBySanPham"/>
<output wsam:Action="http://ws/thongkeservice/getListBySanPhamResponse" message="tns:getListBySanPhamResponse"/>
</operation>
<operation name="getListByDonHang">
<input wsam:Action="http://ws/thongkeservice/getListByDonHangRequest" message="tns:getListByDonHang"/>
<output wsam:Action="http://ws/thongkeservice/getListByDonHangResponse" message="tns:getListByDonHangResponse"/>
</operation>
<operation name="getListBySLDonHang">
<input wsam:Action="http://ws/thongkeservice/getListBySLDonHangRequest" message="tns:getListBySLDonHang"/>
<output wsam:Action="http://ws/thongkeservice/getListBySLDonHangResponse" message="tns:getListBySLDonHangResponse"/>
</operation>
<operation name="getListByDTDonHang">
<input wsam:Action="http://ws/thongkeservice/getListByDTDonHangRequest" message="tns:getListByDTDonHang"/>
<output wsam:Action="http://ws/thongkeservice/getListByDTDonHangResponse" message="tns:getListByDTDonHangResponse"/>
</operation>
<operation name="getListByKhachHang">
<input wsam:Action="http://ws/thongkeservice/getListByKhachHangRequest" message="tns:getListByKhachHang"/>
<output wsam:Action="http://ws/thongkeservice/getListByKhachHangResponse" message="tns:getListByKhachHangResponse"/>
</operation>
<operation name="sumListByKhachHang">
<input wsam:Action="http://ws/thongkeservice/sumListByKhachHangRequest" message="tns:sumListByKhachHang"/>
<output wsam:Action="http://ws/thongkeservice/sumListByKhachHangResponse" message="tns:sumListByKhachHangResponse"/>
</operation>
<operation name="sumListByKhachHang1">
<input wsam:Action="http://ws/thongkeservice/sumListByKhachHang1Request" message="tns:sumListByKhachHang1"/>
<output wsam:Action="http://ws/thongkeservice/sumListByKhachHang1Response" message="tns:sumListByKhachHang1Response"/>
</operation>
<operation name="getListByDTSanPham">
<input wsam:Action="http://ws/thongkeservice/getListByDTSanPhamRequest" message="tns:getListByDTSanPham"/>
<output wsam:Action="http://ws/thongkeservice/getListByDTSanPhamResponse" message="tns:getListByDTSanPhamResponse"/>
</operation>
</portType>
<binding name="thongkeservicePortBinding" type="tns:thongkeservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListBySanPham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListByDonHang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListBySLDonHang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListByDTDonHang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListByKhachHang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumListByKhachHang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sumListByKhachHang1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListByDTSanPham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="thongkeservice">
<port name="thongkeservicePort" binding="tns:thongkeservicePortBinding">
<soap:address location="http://localhost:8080/test4/thongkeservice"/>
</port>
</service>
</definitions>