src/META-INF/wsdl/localhost_8080/test4/tongquanservice.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="tongquanservice">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/test4/tongquanservice?xsd=1"/>
</xsd:schema>
</types>
<message name="soluongDonHang">
<part name="parameters" element="tns:soluongDonHang"/>
</message>
<message name="soluongDonHangResponse">
<part name="parameters" element="tns:soluongDonHangResponse"/>
</message>
<message name="doanhthu">
<part name="parameters" element="tns:doanhthu"/>
</message>
<message name="doanhthuResponse">
<part name="parameters" element="tns:doanhthuResponse"/>
</message>
<message name="soluongkhachhang">
<part name="parameters" element="tns:soluongkhachhang"/>
</message>
<message name="soluongkhachhangResponse">
<part name="parameters" element="tns:soluongkhachhangResponse"/>
</message>
<message name="soluongsanpham">
<part name="parameters" element="tns:soluongsanpham"/>
</message>
<message name="soluongsanphamResponse">
<part name="parameters" element="tns:soluongsanphamResponse"/>
</message>
<portType name="tongquanservice">
<operation name="soluongDonHang">
<input wsam:Action="http://ws/tongquanservice/soluongDonHangRequest" message="tns:soluongDonHang"/>
<output wsam:Action="http://ws/tongquanservice/soluongDonHangResponse" message="tns:soluongDonHangResponse"/>
</operation>
<operation name="doanhthu">
<input wsam:Action="http://ws/tongquanservice/doanhthuRequest" message="tns:doanhthu"/>
<output wsam:Action="http://ws/tongquanservice/doanhthuResponse" message="tns:doanhthuResponse"/>
</operation>
<operation name="soluongkhachhang">
<input wsam:Action="http://ws/tongquanservice/soluongkhachhangRequest" message="tns:soluongkhachhang"/>
<output wsam:Action="http://ws/tongquanservice/soluongkhachhangResponse" message="tns:soluongkhachhangResponse"/>
</operation>
<operation name="soluongsanpham">
<input wsam:Action="http://ws/tongquanservice/soluongsanphamRequest" message="tns:soluongsanpham"/>
<output wsam:Action="http://ws/tongquanservice/soluongsanphamResponse" message="tns:soluongsanphamResponse"/>
</operation>
</portType>
<binding name="tongquanservicePortBinding" type="tns:tongquanservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="soluongDonHang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="doanhthu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soluongkhachhang">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="soluongsanpham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="tongquanservice">
<port name="tongquanservicePort" binding="tns:tongquanservicePortBinding">
<soap:address location="http://localhost:8080/test4/tongquanservice"/>
</port>
</service>
</definitions>