xml-resources/web-service-references/sanphamWebService/wsdl/localhost_8080/test4/sanphamWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="sanphamWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/test4/sanphamWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAll_danhmuc">
<part name="parameters" element="tns:getAll_danhmuc"/>
</message>
<message name="getAll_danhmucResponse">
<part name="parameters" element="tns:getAll_danhmucResponse"/>
</message>
<message name="update_sanpham">
<part name="parameters" element="tns:update_sanpham"/>
</message>
<message name="save_sanpham">
<part name="parameters" element="tns:save_sanpham"/>
</message>
<message name="Find_sanpham">
<part name="parameters" element="tns:Find_sanpham"/>
</message>
<message name="Find_sanphamResponse">
<part name="parameters" element="tns:Find_sanphamResponse"/>
</message>
<message name="delete_sanpham">
<part name="parameters" element="tns:delete_sanpham"/>
</message>
<message name="getAll_sanpham">
<part name="parameters" element="tns:getAll_sanpham"/>
</message>
<message name="getAll_sanphamResponse">
<part name="parameters" element="tns:getAll_sanphamResponse"/>
</message>
<message name="loc">
<part name="parameters" element="tns:loc"/>
</message>
<message name="locResponse">
<part name="parameters" element="tns:locResponse"/>
</message>
<portType name="sanphamWebService">
<operation name="getAll_danhmuc">
<input wsam:Action="http://ws/sanphamWebService/getAll_danhmucRequest" message="tns:getAll_danhmuc"/>
<output wsam:Action="http://ws/sanphamWebService/getAll_danhmucResponse" message="tns:getAll_danhmucResponse"/>
</operation>
<operation name="update_sanpham">
<input wsam:Action="http://ws/sanphamWebService/update_sanpham" message="tns:update_sanpham"/>
</operation>
<operation name="save_sanpham">
<input wsam:Action="http://ws/sanphamWebService/save_sanpham" message="tns:save_sanpham"/>
</operation>
<operation name="Find_sanpham">
<input wsam:Action="http://ws/sanphamWebService/Find_sanphamRequest" message="tns:Find_sanpham"/>
<output wsam:Action="http://ws/sanphamWebService/Find_sanphamResponse" message="tns:Find_sanphamResponse"/>
</operation>
<operation name="delete_sanpham">
<input wsam:Action="http://ws/sanphamWebService/delete_sanpham" message="tns:delete_sanpham"/>
</operation>
<operation name="getAll_sanpham">
<input wsam:Action="http://ws/sanphamWebService/getAll_sanphamRequest" message="tns:getAll_sanpham"/>
<output wsam:Action="http://ws/sanphamWebService/getAll_sanphamResponse" message="tns:getAll_sanphamResponse"/>
</operation>
<operation name="loc">
<input wsam:Action="http://ws/sanphamWebService/locRequest" message="tns:loc"/>
<output wsam:Action="http://ws/sanphamWebService/locResponse" message="tns:locResponse"/>
</operation>
</portType>
<binding name="sanphamWebServicePortBinding" type="tns:sanphamWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAll_danhmuc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update_sanpham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="save_sanpham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="Find_sanpham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete_sanpham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getAll_sanpham">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="sanphamWebService">
<port name="sanphamWebServicePort" binding="tns:sanphamWebServicePortBinding">
<soap:address location="http://localhost:8080/test4/sanphamWebService"/>
</port>
</service>
</definitions>